.App {
  display: flex;
}

.PDFViewer-container {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  flex: 7;
}

.MarkdownEditor-container {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  flex: 3;
}

// MarkdownEditor flex layout
.MarkdownEditor-container {
  display: flex;
  flex-flow: column;
  .MarkdownEditorToolbar {
    height: 1rem;
  }
  .MarkdownEditor {
    height: calc(100% - 1rem);
  }
  .MarkdownPreview {
    height: calc(100% - 1rem);
  }
}

